# The MySQL database server configuration file.
# Rootnode http://rootnode.net
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# All variables listed here:
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
#
# This is a global configuration file.
# Server specific options are included from conf.d directory.
# Local settings overwrite global configuration.
#
# See SERVERS file in a repository for server specifications.

# TODO
#  * i-am-a-dummy (check impact on users)
#  * change table_cache with table_open_cache
#  * binlog enable or disable

[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp  # Mind /tmp space. Temporary tables can grow large.
language	= /usr/share/mysql/english

skip-external-locking   # We do not use myisamchk. External locking not needed. See http://dev.mysql.com/doc/refman/5.0/en/external-locking.html
skip-name-resolve       # We use IP addresses in grant tables. 
innodb_file_per_table   # Keep data directory nice and neat. 

# Use utf8 everywhere
default-character-set   = utf8
character-set-server    = utf8
collation-server        = utf8_polish_ci
character-set-client    = utf8
init_connect            = 'set collation_connection = utf8_polish_ci;'

# Bind to localhost but we redirect from public IP address
bind-address		= 127.0.0.1

# Global buffers
key_buffer		        = 1G     # Used to cache MyISAM indexes. Count with `du *.MYI | awk '{sum += $1} END { print sum }'`
innodb_buffer_pool_size         = 6G     # In a perfect world 10% larger than your data. Contain InnoDB data pages, adaptive hash indexes, insert buffer, locks.
innodb_additional_mem_pool_size = 8M     # No performance impact when exceeded. Look at `mysql -Nse 'SHOW ENGINE INNODB STATUS\G' | grep -A 13 'BUFFER POOL'`
table_cache                     = 4096   # Bug here. See http://www.mysqlperformanceblog.com/2009/11/16/table_cache-negative-scalability/
query_cache_size                = 1G     # TODO check if cache is not too large (lock contention issues)
query_cache_limit          	= 1M     # Caching description at http://www.mysqlperformanceblog.com/2006/07/27/mysql-query-cache/

# Per session buffers
max_allowed_packet = 16M    # See http://dev.mysql.com/doc/refman/5.1/en/packet-too-large.html
thread_cache_size  = 8	    # See http://hashmysql.org/wiki/Tuning_System_Variables#The_Thread_Cache
sort_buffer_size   = 256K   # Uses mmap when not higher than 256K. Otherwise malloc which is slower. 
                            # See http://ronaldbradford.com/blog/more-on-understanding-sort_buffer_size-2010-05-10/
join_buffer_size   = 256K   # Allocated per-join-per-thread. Always use indexes with joins.

# InnoDB options
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size         = 1M
innodb_max_dirty_pages_pct     = 90
innodb_lock_wait_timeout       = 30

# Temporary tables
tmp_table_size          = 64M
max_heap_table_size     = 64M

# Threads
thread_stack              = 192K
thread_cache_size         = 8
thread_concurrency        = 4
innodb_thread_concurrency = 4

# Connections
max_connections         = 750
max_user_connections    = 48
max_connect_errors      = 16

# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam-recover         = BACKUP

# Logging and Replication

log_slow_queries	= /var/log/mysql/mysql-slow.log
long_query_time = 10
#general_log_file        = /var/log/mysql/mysql.log   # Performance killer. Debug-use only.
#general_log             = 1
#log-queries-not-using-indexes                        # Debug-use only.
# Error logging goes to syslog due to /etc/mysql/conf.d/mysqld_safe_syslog.cnf.

#server-id		= 1
#log_bin		= /var/log/mysql/mysql-bin.log
expire_logs_days	= 10
max_binlog_size         = 1024M
#binlog_do_db		= include_database_name
#binlog_ignore_db	= include_database_name

# SSL certificates 
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

[mysql]
#i-am-a-dummy

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

# IMPORTANT: Additional settings that can override those from this file!
# The files must end with '.cnf', otherwise they'll be ignored.

!includedir /etc/mysql/conf.d/
